@use"./partials/global" as*;
@use './partials/mixins' as*;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Hero image styling
.biography-section {
    background-image: url(../assets/Images/hero-bio.jpg);
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;

    @include tablet {
        height: 20rem;
    }

    @include desktop {
        height: 30rem;
    }

    &__header {
        padding-left: 3rem;
        padding-top: 4rem;
        height: 10rem;
        margin: 0;
        color: white;
        background: rgba(50, 50, 50, 0.50);

        @include tablet {
            height: 20rem;
            padding-top: 10rem;
            font-size: 2rem
        }

        @include desktop {
            padding-top: 13rem;
            font-size: 3rem;
            height: 30rem
        }
    }
}

// main content styling
.biography-main {
    @include padding;

    @include tablet {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    @include desktop {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    &__header {
        padding: 1.5rem 1rem 1rem 1rem;
        margin: 0;
        font-weight: 400;

        @include tablet {

            padding-right: 5rem;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__paragraph {
        @include tablet {
            margin: 1rem;
        }
    }

    &__container {
        @include tablet {
            display: flex
        }
    }
}

// photo gallery styling
.biography-gallery {
    @include padding;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        padding-left: 5rem;
        padding-right: 5rem;

    }

    &__header {
        margin-top: 1rem;
        padding-top: 2rem;
        font-size: 2rem;

        @include tablet {
            margin-right: 45rem;
        }

        @include desktop {
            margin-right: 75rem;
        }
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__img {
        max-width: 100%;
        padding-top: .5rem;
        padding-bottom: .5rem;

        @include tablet {
            max-width: 30%;
            margin: .5rem
        }
    }
}

// comments section styling
.biography-comments {
    padding: 0 1rem;

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &-small {
            display: flex;
            border-bottom: solid 1px #afafaf;
            justify-content: space-between;
            margin: 0 2rem;
            padding: 0 1rem;
            width: 100%;
        }

        &-big {
            display: flex;
        }
    }

    &__label {
        color: #afafaf;
        margin: .25rem;
    }

    &__date {
        color: #e1e1e1;

        &-container {
            display: flex;
        }
    }

    &__commenter {
        color: #323232;
        margin-bottom: 1rem;
    }

    &__images {
        height: 2.25rem;
        width: 2.25rem;
        background-color: #e1e1e1;
        border-radius: 50%;
        margin-right: 1rem;

    }

    &__header {
        padding: 0 1rem;
    }

    &__name {
        resize: none;
        height: 2.25rem;
        border: solid 1px #e1e1e1;
        border-radius: 4px;
        background-color: #fafafa;

    }

    &__button {
        background-color: #323232;
        color: white;
        font-weight: 400;
        font-size: 2rem;
        border-radius: .25rem;
        margin-bottom: 2rem;
        margin-top: 2rem;

    }

    &__insert {
        resize: none;
        height: 5rem;
        background-color: #fafafa;
        border: solid 1px #e1e1e1;
        border-radius: .25rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: .25rem;
        width: 100%;
        padding: 1rem;

        @include tablet {
            width: 30rem;
        }
    }

    &__img {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        margin-top: 2.6rem;
    }

    &__holder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__comment {
        max-width: 100%;
    }

    &__flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;

        @include tablet {
            padding: 1rem 3rem;
        }
    }
}