@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  font-family: "AvenirNext LT Pro";
}

h2 {
  font-weight: 600;
}

.biography-head {
  background-color: #323232;
  color: white;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .biography-head {
    padding-left: 2rem;
  }
}
.biography-head__nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .biography-head__nav {
    justify-content: flex-start;
    flex-direction: row;
  }
}
.biography-head__img {
  display: flex;
  justify-content: center;
}
.biography-head__list {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.biography-head__link {
  text-decoration: none;
  color: white;
  list-style: none;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a.activePage {
  border-bottom: solid 3px white;
}

.biography-footer {
  padding: 0 2rem;
  background-color: #323232;
  color: white;
  padding-top: 2rem;
}
.biography-footer__media {
  display: flex;
  align-content: center;
}
.biography-footer__social {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.biography-footer__icon {
  margin-left: 1rem;
  margin-right: 1rem;
}
.biography-footer__info {
  margin: 0;
  white-space: pre-line;
  margin-bottom: 1rem;
}
.biography-footer__head {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .biography-footer__head {
    padding-left: 13rem;
    margin-right: 5rem;
  }
}
@media (min-width: 768px) {
  .biography-footer__container {
    display: flex;
    flex-wrap: wrap;
    max-height: 12rem;
    max-width: 100%;
    gap: 1rem;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .biography-footer__container {
    gap: 3rem;
    max-height: 12rem;
    max-width: 100%;
    justify-content: flex-start;
  }
}
@media (min-width: 320px) {
  .biography-footer__top {
    display: none;
  }
}
@media (min-width: 768px) {
  .biography-footer__top {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .biography-footer__bottom {
    display: none;
  }
}
.biography-footer__copyright {
  font-size: 0.73rem;
  margin: 0%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.biography-section {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}
@media (min-width: 768px) {
  .biography-section {
    height: 20rem;
  }
}
@media (min-width: 1280px) {
  .biography-section {
    height: 30rem;
  }
}
.biography-section__header {
  padding-left: 3rem;
  padding-top: 4rem;
  height: 10rem;
  margin: 0;
  color: white;
  background: rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) {
  .biography-section__header {
    height: 20rem;
    padding-top: 10rem;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .biography-section__header {
    padding-top: 13rem;
    font-size: 3rem;
    height: 30rem;
  }
}

.biography-main {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .biography-main {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (min-width: 1280px) {
  .biography-main {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
.biography-main__header {
  padding: 1.5rem 1rem 1rem 1rem;
  margin: 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .biography-main__header {
    padding-right: 5rem;
  }
}
.biography-main__img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .biography-main__paragraph {
    margin: 1rem;
  }
}
@media (min-width: 768px) {
  .biography-main__container {
    display: flex;
  }
}

.biography-gallery {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .biography-gallery {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .biography-gallery {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.biography-gallery__header {
  margin-top: 1rem;
  padding-top: 2rem;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .biography-gallery__header {
    margin-right: 45rem;
  }
}
@media (min-width: 1280px) {
  .biography-gallery__header {
    margin-right: 75rem;
  }
}
.biography-gallery__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.biography-gallery__img {
  max-width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .biography-gallery__img {
    max-width: 30%;
    margin: 0.5rem;
  }
}

.biography-comments {
  padding: 0 1rem;
}
.biography-comments__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.biography-comments__container-small {
  display: flex;
  border-bottom: solid 1px #afafaf;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 0 1rem;
  width: 100%;
}
.biography-comments__container-big {
  display: flex;
}
.biography-comments__label {
  color: #afafaf;
  margin: 0.25rem;
}
.biography-comments__date {
  color: #e1e1e1;
}
.biography-comments__date-container {
  display: flex;
}
.biography-comments__commenter {
  color: #323232;
  margin-bottom: 1rem;
}
.biography-comments__images {
  height: 2.25rem;
  width: 2.25rem;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 1rem;
}
.biography-comments__header {
  padding: 0 1rem;
}
.biography-comments__name {
  resize: none;
  height: 2.25rem;
  border: solid 1px #e1e1e1;
  border-radius: 4px;
  background-color: #fafafa;
}
.biography-comments__button {
  background-color: #323232;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.biography-comments__insert {
  resize: none;
  height: 5rem;
  background-color: #fafafa;
  border: solid 1px #e1e1e1;
  border-radius: 0.25rem;
}
.biography-comments__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .biography-comments__form {
    width: 30rem;
  }
}
.biography-comments__img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-top: 2.6rem;
}
.biography-comments__holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
.biography-comments__comment {
  max-width: 100%;
}
.biography-comments__flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .biography-comments__flex {
    padding: 1rem 3rem;
  }
}/*# sourceMappingURL=bio.css.map */