@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

@font-face {
    font-family: Avenir;

    src: url(./fonts/AvenirNextLTPro-Regular.otf);
}

body {
    margin: 0;
    font-family: avenir;
}

.biography-head {
    display: flex;
    background-color: #323232;
    color: white;

    &__title {
        margin-top: .5rem;
        margin-left: 5.5rem;
        font-weight: 100;
        max-width: 7.5rem;
        max-height: 1.25rem;
        font-size: 2.5rem;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        border-bottom: white;
        flex-direction: row;
        margin: 0;
        padding-left: 2rem;
    }

    &__link {
        margin: 0rem 1rem 0 1rem;
        padding: 1rem;
    }
}

a:active {
    text-decoration: underline white;
}

.biography-section {
    background-image: url(../assets/Images/hero-bio.jpg);
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__header {
        padding-left: 3rem;
        padding-top: 4rem;
        height: 6rem;
        margin: 0;
        color: white;
        background: rgba(50, 50, 50, 0.50);

    }
}

.biography-main {
    @include padding;

    &__header {
        padding: 1.5rem 1rem 1rem 1rem;
        margin: 0;
        font-weight: 400;
    }

    &__img {
        max-width: 100%;
    }

}

.biography-gallery {
    @include padding;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__header {
        margin-top: 1rem;
        padding-top: 2rem;
    }

    &__img {
        max-width: 100%;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

.biography-footer {
    @include padding;
    background-color: #323232;
    color: white;



    &__header {
        padding-top: 2rem;
    }

    &__icon {
        margin-right: 1rem;
        padding-left: 1rem;
    }

    &__info {
        margin: 0;
        white-space: pre-line;
        margin-bottom: 1rem;
    }

    &__head {
        margin-top: 3rem;
    }

    &__copyright {
        font-size: .73rem;
        margin: 0%;
    }
}