@use './partials/mixins' as *;
@use './partials/global' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.shows-head {
    background-color: #323232;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;



    &__nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 2rem;

        @include tablet {
            justify-content: flex-start;
            flex-direction: row;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }


    &__link {
        text-decoration: none;
        color: white;
        list-style: none;
        padding-bottom: 1rem;
    }
}

.shows-section {
    background-image: url(../assets/images/hero-shows.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;

    @include tablet {
        height: 25rem;
    }

    @include desktop {
        height: 30rem;
    }

    &__background {
        display: flex;
        height: 20rem;
        margin: 0;
        color: white;
        flex-direction: column;
        background: rgba(50, 50, 50, 0.5);

        @include tablet {
            height: 25rem;
        }

    }

    &__iframe {
        height: 20rem;
        padding-left: 1rem;

        @include tablet {
            padding-left: 3rem;
            padding-top: 2rem;
        }
    }

    &__header {
        padding-left: 3rem;
        padding-top: 4rem;

        margin: 0;
        color: white;

        font-size: 1rem;

        &-2 {
            padding-left: 3rem;

            @include tablet {
                font-size: 3rem;
            }
        }

        &-3 {
            @include tablet {
                font-size: 3rem;
            }

            padding-left: 3rem;
        }

    }

    &__heads {
        display: flex;
        flex-direction: column;
    }
}

.shows-main {
    background-color: white;
    color: #323232;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 0 0rem;
    }

    &__tickets {
        border-bottom: solid 1px #e1e1e1;
        padding: 0 1rem;

        @include tablet {
            display: flex;
            flex-direction: column;

            align-self: auto;
        }
    }

    &__header {
        padding: 2rem 1rem;
    }

    &__container-date {
        margin: 1rem 0;
        width: 100%;
    }

    &__container-venue {
        margin: 1rem 0;
        width: 100%;

    }

    &__container-location {
        margin: 1rem 0;
        width: 100%;
    }

    &__container-individual {
        @include tablet {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &__title {
        color: #afafaf;
        font-size: .75rem;

    }

    &__venue {
        color: #323232;
    }

    &__location {
        color: #323232;
    }

    &__date {
        font-weight: 600;
        color: #323232;

    }

    &__button {
        color: white;
        background-color: #323232;
        border-radius: 0.25rem;

        height: 2rem;
        margin-top: 1rem;
        font-weight: 600;
        width: 100%;
    }
}