@use './partials/mixins' as *;
@use './partials/global' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.shows-head {
    background-color: #323232;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;


    &__nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 2rem;

        @include tablet {
            justify-content: flex-start;
            flex-direction: row;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }


    &__link {
        text-decoration: none;
        color: white;
        list-style: none;
    }
}

.shows-section {
    background-image: url(../assets/Images/hero-bio.jpg);
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;

    @include tablet {
        height: 20rem;
    }

    @include desktop {
        height: 30rem;
    }

    &__header {
        padding-left: 3rem;
        padding-top: 4rem;
        height: 10rem;
        margin: 0;
        color: white;
        background: rgba(50, 50, 50, 0.50);

        @include tablet {
            height: 20rem;
            padding-top: 10rem;
            font-size: 2rem
        }

        @include desktop {
            padding-top: 13rem;
            font-size: 3rem;
            height: 30rem
        }
    }
}